# Core dependencies
opencv-python>=4.5.0
numpy>=1.19.0
psutil>=5.8.0
Pillow>=8.0.0  # For image processing in GUI

# For development (optional)
pytest>=6.2.5
flake8>=3.9.2

# For Design
sv_ttk>=2.5.3